$pf-c-data-list-layout-map: (
  namespace: "pf-c-data-list",
  layouts: (
    stack: (
      root: (
        max-height: var(--pf-c-data-list__expandable-content--MaxHeight),
        overflow-y: auto
      ),
      item-content: (
        display: grid,
        grid-template-columns: auto 1fr,
        flex-wrap: nowrap,
        flex-grow: 0,
        padding-bottom: 0
      ),
      cell: (
        padding-bottom: var(--pf-global--spacer--lg),
        margin-right: 0
      ),
      cell-cell: (
        padding-top: 0
      ),
      item-control: (
        margin-right: var(--pf-global--spacer--md)
      ),
      item-action: (
        margin-left: var(--pf-global--spacer--md)
      )
    ),
    inline: (
      root: (
        max-height: initial,
        overflow-y: visible
      ),
      item-content: (
        display: flex,
        grid-template-columns: none,
        flex-wrap: wrap,
        flex-grow: 1,
        padding-bottom: var(--pf-c-data-list__item-content--md--PaddingBottom) // update at breaking change
      ),
      cell: (
        padding-bottom: var(--pf-c-data-list__cell--md--PaddingBottom), // update at breaking change
        margin-right: var(--pf-c-data-list__cell--MarginRight) // update at breaking change
      ),
      cell-cell: (
        padding-top: var(--pf-c-data-list__cell--cell--md--PaddingTop) // update at breaking change
      ),
      item-control: (
        margin-right: var(--pf-c-data-list__item-control--md--MarginRight) // update at breaking change
      ),
      item-action: (
        margin-left: var(--pf-c-data-list__item-action--md--MarginLeft) // update at breaking change
      )
    )
  )
);

// Generate mixin for layout variations
//
// Display stack mixin
@mixin pf-c-data-list--m-display-stack {
  @include pf-generate-layout-variables($pf-c-data-list-layout-map, "stack", $generate-mixin: "true");
}

// Display inline mixin
@mixin pf-c-data-list--m-display-inline {
  @include pf-generate-layout-variables($pf-c-data-list-layout-map, "inline", $generate-mixin: "true");
}
