<div class="{{pfv}}data-list__check{{#if data-list-check--modifier}} {{data-list-check--modifier}}{{/if}}"
  {{#if data-list-check--attribute}}
    {{{data-list-check--attribute}}}
  {{/if}}>
  {{> check check--IsStandalone="pf-m-standalone" check--IsLabelWrapped=true check--name=(dasherize data-list--id data-list-item--id '-checkbox') check--aria-labelledby=(dasherize data-list--id data-list-item--id)}}
</div>
