<div class="{{pfv}}table__toggle{{#if table-toggle--modifier}} {{table-toggle--modifier}}{{/if}}"
  {{#if table-toggle--attribute}}
    {{{table-toggle--attribute}}}
  {{/if}}>
  {{> table-toggle-icon}}
</div>
