@use '../../sass-utilities' as *;

// TODO: clean up unused variables
// TODO: update grouping comments to // * Table {element}

@include pf-root($table) {
  --#{$table}--BackgroundColor: var(--pf-t--global--background--color--primary--default);
  --#{$table}--BorderColor: var(--pf-t--global--border--color--default);
  --#{$table}--border-width--base: var(--pf-t--global--border--width--divider--default);

  // * Table caption
  --#{$table}__caption--FontSize: var(--pf-t--global--font--size--body--default);
  --#{$table}__caption--Color: var(--pf-t--global--text--color--subtle);
  --#{$table}__caption--PaddingBlockStart: var(--pf-t--global--spacer--md);
  --#{$table}__caption--PaddingInlineEnd: var(--pf-t--global--spacer--lg);
  --#{$table}__caption--PaddingBlockEnd: var(--pf-t--global--spacer--md);
  --#{$table}__caption--PaddingInlineStart: var(--pf-t--global--spacer--lg);

  // * Table thead cell
  --#{$table}__thead--cell--FontSize: var(--pf-t--global--font--size--body--sm);
  --#{$table}__thead--cell--FontWeight: var(--pf-t--global--font--weight--body--bold);

  // * Table thead action
  // --#{$table}__thead__action--PaddingBlockStart: var(--pf-t--global--spacer--sm);
  --#{$table}__thead__action--PaddingBlockEnd: var(--pf-t--global--spacer--xs);

  // * Table thead toggle
  --#{$table}__thead__toggle--PaddingBlockEnd: var(--pf-t--global--spacer--xs);

  // * Table body cell
  --#{$table}__tbody--cell--PaddingBlockStart: var(--#{$table}--cell--Padding--base);
  --#{$table}__tbody--cell--PaddingBlockEnd: var(--#{$table}--cell--Padding--base);
  --#{$table}__tbody--cell--FontSize: var(--pf-t--global--font--size--body--default); // set this explicitly for input heights to calc properly

  // * Table tr
  --#{$table}__tr--BorderBlockEndWidth: var(--pf-t--global--border--width--divider--default);
  --#{$table}__tr--BorderBlockEndColor: var(--pf-t--global--border--color--default);

  // TODO: update these in order of appearance in scss declarations

  // * Table cell
  --#{$table}--cell--Padding--base: var(--pf-t--global--spacer--md);
  --#{$table}--cell--PaddingBlockStart: var(--#{$table}--cell--Padding--base);
  --#{$table}--cell--PaddingBlockEnd: var(--#{$table}--cell--Padding--base);
  --#{$table}--cell--PaddingInlineStart: var(--#{$table}--cell--Padding--base);
  --#{$table}--cell--PaddingInlineEnd: var(--#{$table}--cell--Padding--base);
  --#{$table}--cell--FontSize: var(--pf-t--global--font--size--body--default);
  --#{$table}--cell--FontWeight: var(--pf-t--global--font--weight--body--default);
  --#{$table}--cell--LineHeight: var(--pf-t--global--font--line-height--body);
  --#{$table}--cell--Color: var(--pf-t--global--text--color--regular);
  --#{$table}--cell--first-last-child--PaddingInline: var(--pf-t--global--spacer--sm);
  --#{$table}__tr--m-first-cell-offset-reset--cell--PaddingInlineStart: var(--#{$table}--cell--Padding--base);

  // // * Table cell - default variables
  // --#{$table}--cell--MinWidth: 0;
  // --#{$table}--cell--MaxWidth: none;
  // --#{$table}--cell--Width: auto;
  // --#{$table}--cell--Overflow: visible;
  // --#{$table}--cell--TextOverflow: clip;
  // --#{$table}--cell--WhiteSpace: normal;
  // --#{$table}--cell--WordBreak: normal;

  // * Table cell border right
  --#{$table}--cell--m-border-right--before--BorderInlineEndWidth: var(--pf-t--global--border--width--divider--default);
  --#{$table}--cell--m-border-right--before--BorderInlineEndColor: var(--pf-t--global--border--color--default);
  --#{$table}--cell--m-border-left--before--BorderInlineStartWidth: var(--pf-t--global--border--width--divider--default);
  --#{$table}--cell--m-border-left--before--BorderInlineStartColor: var(--pf-t--global--border--color--default);

  // * Table help
  --#{$table}--cell--m-help--MinWidth: 11ch;

  // * Table truncate
  // --#{$table}--m-truncate--cell--MaxWidth: 1px;
  // --#{$table}--m-truncate--cell--MinWidth: calc(5ch + var(padding-inline-end) + var(padding-inline-start));

  // * Table truncate
  --#{$table}__text--MinWidth: 5ch;

  // * Table cell hidden visible
  --#{$table}--cell--hidden-visible--Display: table-cell;

  // * Table toggle
  --#{$table}__toggle--PaddingBlockStart: var(--pf-t--global--spacer--sm);
  --#{$table}__toggle--PaddingBlockEnd: var(--pf-t--global--spacer--sm);
  --#{$table}__toggle--PaddingInlineStart: var(--pf-t--global--spacer--sm);
  --#{$table}__toggle--PaddingInlineEnd: var(--pf-t--global--spacer--sm);
  --#{$table}__toggle--c-button__toggle-icon--Rotate: 270deg;
  --#{$table}__toggle--c-button__toggle-icon--Transition: .2s ease-in 0s;
  --#{$table}__toggle--c-button--m-expanded__toggle-icon--Rotate: 360deg;

  // * Table button
  --#{$table}__button--PaddingBlockStart: var(--pf-t--global--spacer--sm);
  --#{$table}__button--PaddingBlockEnd: var(--pf-t--global--spacer--sm);
  --#{$table}__button--PaddingInlineStart: var(--pf-t--global--spacer--md);
  --#{$table}__button--PaddingInlineEnd: var(--pf-t--global--spacer--md);
  --#{$table}__button--Color: var(--pf-t--global--text--color--regular);
  --#{$table}__button--BackgroundColor: var(--pf-t--global--background--color--action--plain--default);
  --#{$table}__button--OutlineOffset: calc(var(--pf-t--global--border--width--strong) * -1);
  --#{$table}__button--BorderRadius: var(--pf-t--global--border--radius--small);
  --#{$table}__button--hover--Color: var(--pf-t--global--text--color--regular);
  --#{$table}__button--hover--BackgroundColor: var(--pf-t--global--background--color--action--plain--hover);

  // * Table button content
  --#{$table}__button-content--ColumnGap: var(--pf-t--global--spacer--sm);

  // * Table check
  --#{$table}__check--PaddingInlineStart: var(--pf-t--global--spacer--sm);
  --#{$table}__check--PaddingInlineEnd: var(--pf-t--global--spacer--sm);

  // * Table favorite
  --#{$table}__favorite--c-button--FontSize: var(--pf-t--global--font--size--body--default);
  --#{$table}--cell--m-favorite--Color: var(--pf-t--global--text--color--subtle);
  --#{$table}__favorite--m-favorited--c-button--Color: var(--pf-t--global--color--favorite--clicked);

  // * Table ghost row
  --#{$table}__tr--m-ghost-row--Opacity: .4;
  --#{$table}__tr--m-ghost-row--BackgroundColor: var(--pf-t--global--background--color--primary--default);

  // * Table action
  --#{$table}__action--PaddingBlockStart: var(--pf-t--global--spacer--sm);
  --#{$table}__action--PaddingInlineStart: var(--pf-t--global--spacer--sm);
  --#{$table}__action--PaddingInlineEnd: var(--pf-t--global--spacer--sm);

  // * Table expandable row
  --#{$table}__expandable-row--Transition: var(--pf-t--global--transition);

  // * Table expandable row content
  --#{$table}__expandable-row-content--PaddingBlockStart: var(--pf-t--global--spacer--md);
  --#{$table}__expandable-row-content--PaddingBlockEnd: var(--pf-t--global--spacer--md);
  --#{$table}__expandable-row-content--PaddingInlineStart: var(--pf-t--global--spacer--md);
  --#{$table}__expandable-row-content--PaddingInlineEnd: var(--pf-t--global--spacer--md);
  --#{$table}__expandable-row-content--BorderRadius: var(--pf-t--global--border--radius--small);
  --#{$table}__expandable-row-content--BackgroundColor: var(--pf-t--global--background--color--primary--default);

  // * Table control row
  --#{$table}__control-row--BackgroundColor: var(--pf-t--global--background--color--primary--default);
  --#{$table}__control-row--BorderBlockEndWidth: var(--pf-t--global--border--width--divider--default);
  --#{$table}__control-row__tbody--BorderBlockEndColor: var(--pf-t--global--border--color--default);

  // * Table icon inline
  --#{$table}__icon-inline--MarginInlineEnd: var(--pf-t--global--spacer--sm);

  // * Table sort cell
  --#{$table}__sort--MinWidth: calc(6ch + var(--#{$table}--cell--PaddingInlineStart) + var(--#{$table}--cell--PaddingInlineEnd) + var(--#{$table}__sort-indicator--MarginInlineStart));
  --#{$table}__sort--m-selected__button--Color: var(--pf-t--global--color--brand--clicked);
  --#{$table}__sort--m-help--MinWidth: 15ch;

  // * Table sort button
  --#{$table}__sort__button__text--Color: currentcolor;
  --#{$table}__sort__button--hover__text--Color: currentcolor;

  // * Table sort indicator
  --#{$table}__sort-indicator--Color: var(--pf-t--global--icon--color--subtle);
  --#{$table}__sort-indicator--MarginInlineStart: var(--pf-t--global--spacer--md);
  --#{$table}__sort--m-selected__sort-indicator--Color: var(--pf-t--global--color--brand--clicked);
  --#{$table}__sort__button--hover__sort-indicator--Color: var(--pf-t--global--text--color--regular);

  // * Table help
  --#{$table}__th--m-help--MinWidth: 11ch;

  // // * Table header popover
  // --#{$table}__column-help--MarginInlineStart: var(--pf-t--global--spacer--sm);

  // * Table compound expansion toggle button
  --#{$table}__compound-expansion-toggle__button--Color: var(--pf-t--global--icon--color--brand--default);
  --#{$table}__compound-expansion-toggle__button--BackgroundColor: var(--pf-t--global--background--color--action--plain--default);
  --#{$table}__compound-expansion-toggle__button--hover--Color: var(--pf-t--global--icon--color--brand--hover);
  --#{$table}__compound-expansion-toggle__button--hover--BackgroundColor: var(--pf-t--global--background--color--action--plain--hover);
  --#{$table}__compound-expansion-toggle__button--expanded--BackgroundColor: var(--pf-t--global--background--color--action--plain--clicked);

  // * Table compound expansion toggle button after
  --#{$table}__compound-expansion-toggle__button--after--BorderColor: var(--pf-t--global--border--color--clicked);
  --#{$table}__compound-expansion-toggle__button--after--BorderBlockStartWidth: 0;
  --#{$table}__compound-expansion-toggle__button--hover--after--BorderBlockStartWidth: var(--pf-t--global--border--width--strong);
  --#{$table}__compound-expansion-toggle--m-expanded__button--after--BorderBlockStartWidth: var(--pf-t--global--border--width--strong);

  // * Compound expandable
  --#{$table}--compound-expansion--m-expanded--BackgroundColor: var(--pf-t--global--background--color--primary--clicked);

  // * Table compact th
  // --#{$table}--m-compact__th--PaddingBlockStart: calc(var(--pf-t--global--spacer--sm) + var(--pf-t--global--spacer--xs));
  --#{$table}--m-compact__th--PaddingBlockStart: var(--pf-t--global--spacer--sm);
  --#{$table}--m-compact__th--PaddingBlockEnd: var(--pf-t--global--spacer--sm);

  // * Table compact cell
  --#{$table}--m-compact--cell--PaddingBlockStart: var(--pf-t--global--spacer--sm);
  --#{$table}--m-compact--cell--PaddingBlockEnd: var(--pf-t--global--spacer--sm);

  // * Table compact action
  --#{$table}--m-compact__action--PaddingBlockStart: var(--pf-t--global--spacer--xs);
  --#{$table}--m-compact__action--PaddingBlockEnd: var(--pf-t--global--spacer--xs);

  // * Table expandable row expanded
  --#{$table}__expandable-row--m-expanded--BorderBlockEndColor: var(--pf-t--global--border--color--default);

  // * Table tr clickable
  --#{$table}__tr--m-clickable--BackgroundColor: transparent;
  --#{$table}__tr--m-clickable--OutlineOffset: calc(-1 * var(--pf-t--global--spacer--xs));
  --#{$table}__tr--m-clickable--hover--BackgroundColor: var(--pf-t--global--background--color--primary--hover);

  // * Table tr selected
  --#{$table}__tr--m-selected--BackgroundColor: var(--pf-t--global--background--color--primary--clicked);
  --#{$table}__tr--m-selected--OutlineOffset: calc(-1 * var(--pf-t--global--spacer--xs));

  // * Table tbody clickable
  --#{$table}__tbody--m-clickable--BackgroundColor: transparent;
  --#{$table}__tbody--m-clickable--OutlineOffset: calc(-1 * var(--pf-t--global--spacer--xs));
  --#{$table}__tbody--m-clickable--hover--BackgroundColor: var(--pf-t--global--background--color--primary--hover);
  --#{$table}__tbody--m-clickable--m-expanded--BackgroundColor: var(--pf-t--global--background--color--primary--clicked);

  // * Table tbody selected
  --#{$table}__tbody--m-selected--BackgroundColor: var(--pf-t--global--background--color--primary--clicked);
  --#{$table}__tbody--m-selected--OutlineOffset: calc(-1 * var(--pf-t--global--spacer--xs));

  // * Table nested column header
  --#{$table}__thead--m-nested-column-header--button--OutlineOffset: #{pf-size-prem(-3px)};
  --#{$table}__thead--m-nested-column-header__tr--PaddingBlockStart: var(--pf-t--global--spacer--xs);
  --#{$table}__thead--m-nested-column-header__tr--PaddingBlockEnd: var(--pf-t--global--spacer--md);

  // * Table subhead
  --#{$table}__subhead--Color: var(--pf-t--global--text--color--subtle);

  // * Table subhead button
  --#{$table}__nested-column-header__button--PaddingInlineStart: calc(var(--#{$table}__button--PaddingInlineStart) - var(--pf-t--global--spacer--control--horizontal--plain));
  --#{$table}__nested-column-header__button--PaddingInlineEnd: calc(var(--#{$table}__button--PaddingInlineEnd) - (var(--pf-t--global--spacer--control--horizontal--plain) / 2));

  // * Table striped
  --#{$table}--m-striped__tr--BackgroundColor: var(--pf-t--global--background--color--secondary--default);

  // * Table sticky header
  --#{$table}--m-sticky-header--cell--ZIndex: var(--pf-t--global--z-index--xs);
  --#{$table}--m-sticky-header--ZIndex: calc(var(--pf-t--global--z-index--xs) + 1);
  --#{$table}--m-sticky-header--border--ZIndex: calc(var(--pf-t--global--z-index--xs) + 2);
}

@mixin table-truncate {
  min-width: calc(5ch + var(--#{$table}--cell--PaddingInlineStart) + var(--#{$table}--cell--PaddingInlineEnd));
  max-width: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

@mixin table-wrap {
  min-width: 0;
  max-width: none;
  overflow: visible;
  text-overflow: clip;
  white-space: normal;
}

@mixin table-nowrap {
  min-width: 0;
  max-width: none;
  overflow: visible;
  text-overflow: clip;
  white-space: nowrap;
}

@mixin table-fit-content {
  min-width: fit-content;
  max-width: none;
  width: 1%;
  overflow: visible;
  text-overflow: clip;
  white-space: nowrap;
}

@mixin table-break-word {
  word-break: break-word;
  white-space: normal;
}

// TODO: update grouping comments to // Table {element}
// TODO: flatten the modifiers out ex: .#{$table}.pf-m-sticky-header {}
// - Table
.#{$table} {
  width: 100%;
  background-color: var(--#{$table}--BackgroundColor);

  &.pf-m-fixed {
    table-layout: fixed;
  }

  // - Table sticky header
  &.pf-m-sticky-header > .#{$table}__thead,
  .#{$table}__thead.pf-m-nested-column-header {
    position: sticky;
    inset-block-start: 0;
    z-index: var(--#{$table}--m-sticky-header--ZIndex);
    background: var(--#{$table}--BackgroundColor);

    &::before {
      position: absolute;
      inset-block-start: 0;
      inset-block-end: 0;
      inset-inline-start: 0;
      inset-inline-end: 0;
      z-index: var(--#{$table}--m-sticky-header--border--ZIndex);
      pointer-events: none;
      content: '';
      border-block-end: var(--#{$table}--border-width--base) solid var(--#{$table}--BorderColor);
    }
  }

  &.pf-m-sticky-header {
    position: relative;

    // - Table nested column header
    > .pf-m-nested-column-header {
      position: sticky;
      inset-block-start: 0;
      background: var(--#{$table}--BackgroundColor);
    }
  }

  // - Table not sticky header nested column header
  &:not(.pf-m-sticky-header) > .pf-m-nested-column-header {
    .#{$table}__tr:not(:last-child) {
      border-block-end: 0; // hard reset tr borders in nested headers

      // stylelint-disable max-nesting-depth
      .#{$table}__th,
      .#{$table}__td {
        &:not([rowspan]) {
          padding-block-end: var(--#{$table}__thead--m-nested-column-header__tr--PaddingBlockEnd);
        }
      }
      // stylelint-enable
    }
  }

  // - Table striped
  // stylelint-disable
  &.pf-m-striped:not(.pf-m-expandable) > .#{$table}__tbody > .#{$table}__tr:nth-child(odd), // regular table
  &.pf-m-striped.pf-m-expandable > .#{$table}__tbody:nth-of-type(odd) > .#{$table}__tr, // expandable table
  > .pf-m-striped > tr:nth-child(odd), // tbody odd
  > .pf-m-striped-even > tr:nth-child(even), // tbody even
  .#{$table}__tr.pf-m-striped { // tr
    background-color: var(--#{$table}--m-striped__tr--BackgroundColor);
  }
  // stylelint-enable

  // Standard table row (non-expandable)
  // exclude expandable rows
  .#{$table}__tr:not(.#{$table}__expandable-row) {
    // stylelint-disable-next-line
    &.pf-m-ghost-row {
      background-color: var(--#{$table}__tr--m-ghost-row--BackgroundColor);
      opacity: var(--#{$table}__tr--m-ghost-row--Opacity);
    }
  }

  // stylelint-disable selector-no-qualifying-type, selector-max-compound-selectors
  &.pf-m-no-border-rows > .#{$table}__tbody {
    --#{$table}__control-row--BorderBlockEndWidth: 0;

    &,
    &.pf-m-expandable {
      border-block-end: 0;
    }

    // .#{$table}__tr {
    //   border-block-end: 0;
    // }

    > .#{$table}__tr {
      border-block-end: 0;
    }

    &:not(.pf-m-expanded) .#{$table}__compound-expansion-toggle .#{$table}__button::before {
      display: none;
    }
  }

  &.pf-m-drag-over {
    overflow-anchor: none;
  }

  // - Table table
  .#{$table}{
    background-color: transparent;

    &,
    .#{$table}__tbody,
    .#{$table}__tr:last-child {
      border-block-end: 0;
    }
  }

  .#{$button} .#{$table}__sort-indicator {
    --pf-v6-c-table__sort-indicator--MarginInlineStart: 0;
  }
}

// - Table th - Table td
.#{$table}__th,
.#{$table}__td {
  // @include pf-v6-hidden-visible(var(--#{$table}--cell--hidden-visible--Display));

  position: relative;
  z-index: var(--#{$table}--m-sticky-header--cell--ZIndex); // set z-index here to allow sticky column to override
  padding-block-start: var(--#{$table}--cell--PaddingBlockStart);
  padding-block-end: var(--#{$table}--cell--PaddingBlockEnd);
  padding-inline-start: var(--#{$table}--cell--PaddingInlineStart);
  padding-inline-end: var(--#{$table}--cell--PaddingInlineEnd);

  // default settings
  font-size: var(--#{$table}--cell--FontSize);
  font-weight: var(--#{$table}--cell--FontWeight);
  line-height: var(--#{$table}--cell--LineHeight);
  color: var(--#{$table}--cell--Color);

  // First child padding left
  &:first-child {
    padding-inline-start: calc(var(--#{$table}--cell--first-last-child--PaddingInline) + var(--#{$table}--cell--PaddingInlineStart));
  }

  // Last child padding right
  &:last-child {
    padding-inline-end: calc(var(--#{$table}--cell--first-last-child--PaddingInline) + var(--#{$table}--cell--PaddingInlineEnd));
  }

  &.pf-m-center {
    text-align: center;
  }

  &.#{$table}__cell-empty {
    width: auto;
    min-width: 0;
    padding: 0;
  }

  &.pf-m-help {
    min-width: var(--#{$table}--cell--m-help--MinWidth);
  }

  &.pf-m-favorite {
    max-width: fit-content;
    overflow: visible;

    .#{$table}__button {
      color: var(--#{$table}--cell--m-favorite--Color);
    }

    .#{$table}__sort {
      min-width: fit-content;
    }
  }

  &.pf-m-border-right::before,
  &.pf-m-border-left::before {
    position: absolute;
    inset: 0;
    pointer-events: none;
    content: "";
  }

  &.pf-m-border-right::before {
    border-inline-end: var(--#{$table}--cell--m-border-right--before--BorderInlineEndWidth) solid var(--#{$table}--cell--m-border-right--before--BorderInlineEndColor);
  }

  &.pf-m-border-left::before {
    border-inline-start: var(--#{$table}--cell--m-border-left--before--BorderInlineStartWidth) solid var(--#{$table}--cell--m-border-left--before--BorderInlineStartColor);
  }

  &.pf-m-help {
    min-width: var(--#{$table}__th--m-help--MinWidth);
  }
}

// - Table tr
.#{$table}__tr {
  &.pf-m-clickable {
    cursor: pointer;
    background-color: var(--#{$table}__tr--m-clickable--BackgroundColor);
    outline-offset: var(--#{$table}__tr--m-clickable--OutlineOffset);

    &:is(:hover, :focus) {
      --#{$table}__tr--m-clickable--BackgroundColor: var(--#{$table}__tr--m-clickable--hover--BackgroundColor);
    }

    &:last-child {
      border-block-end-color: transparent;
    }
  }

  // tr selected
  &.pf-m-selected {
    position: relative;
    background-color: var(--#{$table}__tr--m-selected--BackgroundColor);
    outline-offset: var(--#{$table}__tr--m-selected--OutlineOffset);
  }

  &.pf-m-first-cell-offset-reset > :first-child {
    padding-inline-start: var(--#{$table}__tr--m-first-cell-offset-reset--cell--PaddingInlineStart);
  }
}

// - Table caption
// - Table thead
.#{$table}__thead {
  .#{$table}__th,
  .#{$table}__td {
    @include table-truncate;

    font-size: var(--#{$table}__thead--cell--FontSize);
    font-weight: var(--#{$table}__thead--cell--FontWeight);
  }

  // &.#{$table}__action,
  // &.#{$table}__draggable,
  // &.#{$table}__favorite,
  // &.#{$table}__inline-edit-action,
  // &.#{$table}__sort {
  //   padding-block-start: 0;
  //   padding-block-end: var(--#{$table}__thead__action--PaddingBlockEnd);
  // }

  // .#{$table}__sort,
  // .#{$table}__action,
  // .#{$table}__toggle {
  //   padding-inline: var(--pf-t--global--spacer--sm);
  //   padding-block: var(--pf-t--global--spacer--sm);
  // }

  // .#{$table}__sort,
  // .#{$table}__action,
  // .#{$table}__toggle {
  //   // padding-inline: var(--pf-t--global--spacer--sm);
  //   padding-block: var(--pf-t--global--spacer--sm);
  //   // margin-block-start: calc(var(--pf-v6-c-table__button--PaddingInlineEnd) * -1);
  //   // margin-block-end: calc(var(--pf-v6-c-table__button--PaddingInlineEnd) * -1);
  // }

  &.#{$table}__check {
    padding-block-start: 0;
  }

  // stylelint-disable
  &.pf-m-nested-column-header {
    .#{$button} {
      outline-offset: var(--#{$table}__thead--m-nested-column-header--button--OutlineOffset);
    }

    .#{$table}__tr:not(:first-child) {
      .#{$table}__th,
      .#{$table}__td {
        &:not([rowspan]) {
          padding-block-start: var(--#{$table}__thead--m-nested-column-header__tr--PaddingBlockStart);
        }
      }
    }
  }
  // stylelint-enable

  // - Table subhead
  .#{$table}__subhead {

    // --#{$table}__sort__button__text--Color: var(--#{$table}__subhead--Color);
    .#{$table}__sort .#{$table}__button {
      color: var(--#{$table}__subhead--Color);
    }
  }
}

.#{$table}__action,
.#{$table}__draggable,
.#{$table}__favorite,
.#{$table}__inline-edit-action,
.#{$table}__sort {
  padding-block-start: 0;
  padding-block-end: var(--#{$table}__thead__action--PaddingBlockEnd);
}

.#{$table}__sort,
.#{$table}__action,
.#{$table}__toggle {
  padding-inline: var(--pf-t--global--spacer--sm);
  padding-block: var(--pf-t--global--spacer--sm);
}

.#{$table}__sort,
.#{$table}__action,
.#{$table}__toggle {
  // padding-inline: var(--pf-t--global--spacer--sm);
  padding-block: var(--pf-t--global--spacer--sm);
  // margin-block-start: calc(var(--pf-v6-c-table__button--PaddingInlineEnd) * -1);
  // margin-block-end: calc(var(--pf-v6-c-table__button--PaddingInlineEnd) * -1);
}

// - Table tbody clickable
// stylelint-disable no-duplicate-selectors
.#{$table}__tbody {
  .#{$table}__th,
  .#{$table}__td {
    @include table-wrap;

    padding-block-start: var(--#{$table}__tbody--cell--PaddingBlockStart);
    padding-block-end: var(--#{$table}__tbody--cell--PaddingBlockEnd);
  }

  // .#{$table}__action,
  // .#{$table}__check
  // .#{$table}__draggable,
  // .#{$table}__favorite,
  // .#{$table}__inline-edit-action,
  // .#{$table}__sort,
  // .#{$table}__toggle {
  //   padding-block-start: var(--#{$table}__action--PaddingBlockStart);
  //   padding-block-end: 0;
  // }

  .#{$table}__check {
    // padding-block-start: 0;
    padding-block-end: 0;
  }

  &.pf-m-clickable {
    cursor: pointer;
    background-color: var(--#{$table}__tbody--m-clickable--BackgroundColor);
    outline-offset: var(--#{$table}__tbody--m-clickable--OutlineOffset);

    &:is(:hover, :focus) {
      --#{$table}__tbody--m-clickable--BackgroundColor: var(--#{$table}__tbody--m-clickable--hover--BackgroundColor);
    }

    &.pf-m-expanded {
      --#{$table}__tbody--m-clickable--BackgroundColor: var(--#{$table}__tbody--m-clickable--m-expanded--BackgroundColor);
    }
  }

  // - Table tbody expanded
  &.pf-m-selected {
    background-color: var(--#{$table}__tbody--m-selected--BackgroundColor);
    outline-offset: var(--#{$table}__tbody--m-selected--OutlineOffset);

    .#{$table}__tr.pf-m-expanded:not(.#{$table}__expandable-row) {
      border: none;
    }
  }

  // - Table icon inline
  .#{$table}__icon-inline {
    display: flex;
    align-items: center;

    > :not(:last-child) {
      margin-inline-end: var(--#{$table}__icon-inline--MarginInlineEnd);
    }
  }
}

// Table thead - Table tbody
.#{$table}__thead,
.#{$table}__tbody {
  // .#{$table}__th,
  // .#{$table}__td {

  // - Table check - Table toggle - Table action - Table favorite - Table inline-edit-action - Table draggable
  .#{$table}__action,
  .#{$table}__check,
  .#{$table}__empty,
  .#{$table}__draggable,
  .#{$table}__favorite,
  .#{$table}__inline-edit-action,
  .#{$table}__toggle  {
    min-width: 0;
    width: 1%;
  }

  // - Table action - Table favorite - Table inline edit action - Table draggable
  // .#{$table}__action,
  // .#{$table}__favorite,
  // .#{$table}__inline-edit-action,
  // .#{$table}__draggable {
  //   padding-inline-start: var(--#{$table}__action--PaddingInlineStart);
  //   padding-inline-end: var(--#{$table}__action--PaddingInlineEnd);
  // }

  .#{$table}__cell-empty {
    padding: 0;
  }
  // }

  // - Table sort
  .#{$table}__sort {
    min-width: var(--#{$table}__sort--MinWidth);
    vertical-align: bottom;

    // - Table button
    .#{$table}__button {
      &:is(:hover, :focus) {
        --#{$table}__sort-indicator--Color: var(--#{$table}__sort__button--hover__sort-indicator--Color);
        --#{$table}__sort__button__text--Color: var(--#{$table}__sort__button--hover__text--Color);
        --#{$table}__button--BackgroundColor: var(--#{$table}__button--hover--BackgroundColor);
      }

      // - Table text
      .#{$table}__text {
        color: var(--#{$table}__sort__button__text--Color);
      }
    }

    &.pf-m-selected .#{$table}__button,
    &.pf-m-selected .#{$button} {
      --#{$table}__sort-indicator--Color: var(--#{$table}__sort--m-selected__sort-indicator--Color);

      // override state colors on text
      .#{$table}__text {
        color: var(--#{$table}__sort--m-selected__button--Color);
      }
    }

    &.pf-m-help {
      min-width: var(--#{$table}__sort--m-help--MinWidth);
    }

    &.pf-m-favorite {
      .#{$table}__text {
        font-size: var(--#{$table}__favorite--c-button--FontSize);
      }
    }
  }

}

// - Table toggle
.#{$table}__toggle {
  // padding-block-start: var(--#{$table}__toggle--PaddingBlockStart);
  // padding-block-end: var(--#{$table}__toggle--PaddingBlockEnd);
  padding-inline-start: var(--#{$table}__toggle--PaddingInlineStart);
  padding-inline-end: var(--#{$table}__toggle--PaddingInlineEnd);

  .#{$button} {
    &.pf-m-expanded .#{$table}__toggle-icon {
      transform: rotate(var(--#{$table}__toggle--c-button--m-expanded__toggle-icon--Rotate));
    }
  }

  .#{$table}__toggle-icon {
    @include pf-v6-mirror-inline-on-rtl;

    transition: var(--#{$table}__toggle--c-button__toggle-icon--Transition);
    transform: rotate(var(--#{$table}__toggle--c-button__toggle-icon--Rotate));
  }

  svg {
    pointer-events: none;
  }
}

// - Table caption
.#{$table}__caption {
  padding-block-start: var(--#{$table}__caption--PaddingBlockStart);
  padding-block-end: var(--#{$table}__caption--PaddingBlockEnd);
  padding-inline-start: var(--#{$table}__caption--PaddingInlineStart);
  font-size: var(--#{$table}__caption--FontSize);
  color: var(--#{$table}__caption--Color);
  text-align: start;
  background-color: var(--#{$table}--BackgroundColor);
}
// - Table text
.#{$table}__text {
  @include table-truncate;

  min-width: var(--#{$table}__text--MinWidth);
  max-width: 100%;
}

// - Table button
.#{$table}__button {
  width: auto;
  padding-block-start: var(--#{$table}__button--PaddingBlockStart);
  padding-block-end: var(--#{$table}__button--PaddingBlockEnd);
  padding-inline-start: var(--#{$table}__button--PaddingInlineStart);
  padding-inline-end: var(--#{$table}__button--PaddingInlineEnd);
  min-height: calc(var(--#{$table}--cell--LineHeight) * var(--#{$table}--cell--FontSize) + var(--#{$table}__button--PaddingBlockStart) + var(--#{$table}__button--PaddingBlockEnd)); // use body values to make button 37px in                  height
  color: var(--#{$table}__button--Color);
  text-align: start;
  white-space: inherit;
  user-select: text;
  background-color: var(--#{$table}__button--BackgroundColor);
  border: 0;
  border-radius: var(--#{$table}__button--BorderRadius);
  outline-offset: var(--#{$table}__button--OutlineOffset);

  // Table table table button
  .#{$table} .#{$table} & {
    margin-block-end: 0; // remove offset in nested tables
  }

  &:is(:hover, :focus) {
    color: var(--#{$table}__button--hover--Color);
  }
}

// - Table button content - Table column help
// display grid for buttons is not supported
.#{$table}__button-content,
.#{$table}__column-help {
  display: inline-flex;
  column-gap: var(--#{$table}__button-content--ColumnGap);
  // grid-template-columns: auto max-content;
  // align-items: baseline;
  justify-content: start;

  .#{$table}__text {
    min-width: auto;
  }

  .#{$table} .#{$table}__thead.pf-m-nowrap &,
  .#{$table} .#{$table}__tr.pf-m-nowrap &,
  .#{$table} .#{$table}__th.pf-m-nowrap & {
    grid-template-columns: min-content max-content;
  }

  .#{$table} .#{$table}__thead.pf-m-fit-content &,
  .#{$table} .#{$table}__tr.pf-m-fit-content &,
  .#{$table} .#{$table}__th.pf-m-fit-content & {
    grid-template-columns: fit-content max-content;
  }

  .#{$table} .#{$table}__thead.pf-m-wrap &,
  .#{$table} .#{$table}__tr.pf-m-wrap &,
  .#{$table} .#{$table}__th.pf-m-wrap &,
  .#{$table} .#{$table}__thead.pf-m-truncate &,
  .#{$table} .#{$table}__tr.pf-m-truncate &,
  .#{$table} .#{$table}__th.pf-m-truncate & {
    grid-template-columns: auto max-content;
  }
}

// - Table favorite
.#{$table} .#{$table}__favorite {
  max-width: auto;
}

// - Table check
.#{$table}__check {
  height: calc(var(--#{$table}--cell--FontSize) * var(--#{$table}--cell--LineHeight));
  // padding-inline-start: var(--#{$table}__check--PaddingInlineStart);
  // padding-inline-end: var(--#{$table}__check--PaddingInlineEnd);
  vertical-align: top;

  // .#{$check}__label,
  // .#{$radio}__label {
  //   font-size: var(--#{$table}--cell--FontSize);
  //   line-height: var(--#{$table}--cell--LineHeight);
  // }

  .#{$table}__thead {
    vertical-align: bottom;
  }

  // .#{$check}.pf-m-standalone,
  // .#{$radio}.pf-m-standalone {
  //   .#{$table}__thead & {
  //     display: table-cell;
  //     height: auto;
  //     line-height: 1;
  //     vertical-align: baseline;
  //   }
  // }
}

// - Table favorite
.#{$table}__favorite {
  .#{$button} {
    font-size: var(--#{$table}__favorite--c-button--FontSize);
  }

  &.pf-m-favorited .#{$button}__icon {
    color: var(--#{$table}__favorite--m-favorited--c-button--Color);

    &:is(:hover, :focus) {
      color: var(--#{$table}__favorite--m-favorited--c-button--Color);
    }
  }
}

// - Table draggable
.#{$table}__draggable {
  .#{$button} {
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }
}

// - Table action - Table inline edit action
.#{$table}__action,
.#{$table}__inline-edit-action {
  &:last-child {
    text-align: end;
  }
}

// - Table compound expansion toggle
.#{$table}__compound-expansion-toggle {
  // padding: 0;
  position: relative;
  background-color: var(--#{$table}__compound-expansion-toggle__button--BackgroundColor);

  // show left border, use __text to truncate content
  &.pf-m-truncate {
    overflow: visible;
  }

  .#{$table}__button {
    color: var(--#{$table}__compound-expansion-toggle__button--Color);;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      color: var(--#{$table}__compound-expansion-toggle__button--hover--Color);
    }

    // Remove outline and apply to parent td
    &:is(:hover, :focus) {
      outline: 0;
    }
  }

  // Apply borders to button to avoid conflicts with expanded states
  .#{$table}__button::after {
    position: absolute;
    inset: 0;
    content: '';
    border: 0;
    border-block-start: var(--#{$table}__compound-expansion-toggle__button--after--BorderBlockStartWidth) solid var(--#{$table}__compound-expansion-toggle__button--after--BorderColor);
  }

  &:hover,
  &:focus-within {
    --#{$table}__compound-expansion-toggle__button--BackgroundColor: var(--#{$table}__compound-expansion-toggle__button--hover--BackgroundColor);
    --#{$table}__compound-expansion-toggle__button--after--BorderBlockStartWidth: var(--#{$table}__compound-expansion-toggle__button--hover--after--BorderBlockStartWidth);
  }

  &.pf-m-expanded {
    --#{$table}__compound-expansion-toggle__button--BackgroundColor: var(--#{$table}__compound-expansion-toggle__button--expanded--BackgroundColor);
    --#{$table}__compound-expansion-toggle__button--after--BorderBlockStartWidth: var(--#{$table}__compound-expansion-toggle--m-expanded__button--after--BorderBlockStartWidth);
  }

  &:focus-within {
    outline-offset: var(--#{$table}__button--OutlineOffset);

    // stylelint-disable media-feature-name-no-vendor-prefix
    @media (-webkit-min-device-pixel-ratio: 0) {
      outline-style: auto;
      outline-color: -webkit-focus-ring-color;
    }
    // stylelint-enable
  }
}

// - Table column help action
.#{$table}__column-help-action {
  // margin-inline-start: var(--#{$table}__column-help--MarginInlineStart);
}

.#{$table}__sort-indicator,
.#{$button}__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}


// - Table sort indicator
.#{$table}__sort-indicator {
  grid-column: 2;
  margin-inline-start: var(--#{$table}__sort-indicator--MarginInlineStart); // TODO: update this to gap
  color: var(--#{$table}__sort-indicator--Color);
  pointer-events: none;
}

// - Table expandable row
.#{$table}__expandable-row {
  position: relative;
  border-block-end: 0 solid transparent;

  &,
  .#{$table}__td:first-child::after {
    transition: var(--#{$table}__expandable-row--Transition);
  }

  @at-root :not(.#{$table}__control-row) ~ .#{$table}__expandable-row {
    > .#{$table}__th,
    > .#{$table}__td {
      padding-block-start: 0;
    }
  }

  .#{$table}__td,
  .#{$table}__th {
    &.pf-m-no-padding {
      padding-block-start: 0;
      padding-block-end: 0;
      padding-inline-start: 0;
      padding-inline-end: 0;

      .#{$table}__expandable-row-content {
        padding: 0;
      }
    }
  }

  // - Table expandable row content
  .#{$table}__expandable-row-content {
    padding-block-start: var(--#{$table}__expandable-row-content--PaddingBlockStart);
    padding-block-end: var(--#{$table}__expandable-row-content--PaddingBlockEnd);
    padding-inline-start: var(--#{$table}__expandable-row-content--PaddingInlineStart);
    padding-inline-end: var(--#{$table}__expandable-row-content--PaddingInlineEnd);
    background-color: var(--#{$table}__expandable-row-content--BackgroundColor);
    border-radius: var(--#{$table}__expandable-row-content--BorderRadius);
  }

  // - Table expandable row content expanded
  &.pf-m-expanded {
    border-block-end-color: var(--#{$table}__expandable-row--m-expanded--BorderBlockEndColor);
    border-block-end-width: var(--#{$table}--border-width--base);
  }

  &:not(.pf-m-expanded) {
    display: none;
  }

  // - Table expandable row tr last-child
  .#{$table}__tr:last-child {
    border-block-end: 0;
  }
}

// - Table compact
.#{$table}.pf-m-compact {
  .#{$table}__th,
  .#{$table}__td {
    padding-block-start: var(--#{$table}--m-compact--cell--PaddingBlockStart);
    padding-block-end: var(--#{$table}--m-compact--cell--PaddingBlockEnd);
  }

  // - Table compact thead
  .#{$table}__thead {
    .#{$table}__th,
    .#{$table}__td {
      padding-block-start: var(--#{$table}--m-compact__th--PaddingBlockStart);
      padding-block-end: var(--#{$table}--m-compact__th--PaddingBlockEnd);
    }
  }

  .#{$table}__thead,
  .#{$table}__tbody {
    .#{$table}__action,
    .#{$table}__favorite,
    .#{$table}__toggle,
    .#{$table}__draggable {
      padding-block-start: var(--#{$table}--m-compact__action--PaddingBlockStart);
      padding-block-end: var(--#{$table}--m-compact__action--PaddingBlockEnd);
    }
  }

  // // - Table compact table tr
  // .#{$table}__tr {
  //   &:not(.#{$table}__expandable-row) {
  //     padding-block-start: var(--#{$table}--m-compact--cell--PaddingBlockStart);
  //     padding-block-end: var(--#{$table}--m-compact--cell--PaddingBlockEnd);
  //   }
  // }


  .#{$table}__icon {
    width: auto;
    min-width: 0;
    text-align: center;
  }
}

// - Table thead
.#{$table}__thead {
  vertical-align: bottom;

  .#{$table}__toggle {
    // padding-block-end: var(--#{$table}__thead__toggle--PaddingBlockEnd);
  }

  .#{$table}__tr {
    border-block-end: 0;
  }

  // - Table nested column header button
  &.pf-m-nested-column-header {
    .#{$table}__button {
      padding-inline-start: var(--#{$table}__nested-column-header__button--PaddingInlineStart);
      padding-inline-end: var(--#{$table}__nested-column-header__button--PaddingInlineEnd);

      // margin to align with thead padding
      margin-inline-end: calc(var(--#{$table}__button--PaddingInlineStart) * -1);
    }
  }
}

// - Table tbody
.#{$table}__tbody {
  vertical-align: top;

  // TODO: make this a class `compound expansion content`
  .#{$table}__control-row ~ .#{$table}__expandable-row.pf-m-expanded {
    background-color: var(--#{$table}--compound-expansion--m-expanded--BackgroundColor);
  }
}

// Table expandable
.#{$table}.pf-m-expandable {
  .#{$table}__tr.pf-m-expanded {
    border-block-end: 0;
  }

  // - Table tbody
  .#{$table}__tbody {
    border-block-end: var(--#{$table}__tr--BorderBlockEndWidth) solid var(--#{$table}__tr--BorderBlockEndColor);
  }

  // - Table tbody expandable
  .#{$table}__tbody.pf-m-expanded {
    border-block-end: var(--#{$table}__tr--BorderBlockEndWidth) solid var(--#{$table}__tr--BorderBlockEndColor);

    // - Table tbody table control row
    .#{$table}__control-row {
      background-color: var(--#{$table}__control-row--BackgroundColor);
      border-block-end: var(--#{$table}__control-row--BorderBlockEndWidth) solid var(--#{$table}__control-row__tbody--BorderBlockEndColor);
    }
  }
}

// - Table tr
.#{$table}__tr {
  border-block-end: var(--#{$table}__tr--BorderBlockEndWidth) solid var(--#{$table}__tr--BorderBlockEndColor);

  // - Table thead table tr
  .#{$table}__thead & {
    border-block-end: 0;
  }

  &.pf-m-border-row {
    border-block-end: var(--#{$table}--border-width--base) solid var(--#{$table}--BorderColor);
  }
}

// - Table truncate - Table wrap - Table nowrap - Table fit content - Table wrap - Table break word
.#{$table},
.#{$table}__thead,
.#{$table}__tbody,
.#{$table}__tr,
.#{$table}__text {
  &.pf-m-truncate { .#{$table}__th, .#{$table}__td { @include table-truncate; }}
  &.pf-m-wrap { .#{$table}__th, .#{$table}__td { @include table-wrap; }}
  &.pf-m-nowrap { .#{$table}__th, .#{$table}__td { @include table-nowrap; }}
  &.pf-m-fit-content { .#{$table}__th, .#{$table}__td { @include table-fit-content; }}
  &.pf-m-break-word { .#{$table}__th, .#{$table}__td { @include table-break-word; }}
}

.#{$table}__th, .#{$table}__td { &.pf-m-truncate { @include table-truncate; }}
.#{$table}__th, .#{$table}__td { &.pf-m-wrap { @include table-wrap; }}
.#{$table}__th, .#{$table}__td { &.pf-m-nowrap { @include table-nowrap; }}
.#{$table}__th, .#{$table}__td { &.pf-m-fit-content { @include table-fit-content; }}
.#{$table}__th, .#{$table}__td { &.pf-m-break-word { @include table-break-word; }}

// - Table width
.#{$table}__th,
.#{$table}__td {
  &.pf-m-width-10 {
    min-width: 10%;
  }

  &.pf-m-width-15 {
    min-width: 15%;
  }

  &.pf-m-width-20 {
    min-width: 20%;
  }

  &.pf-m-width-25 {
    min-width: 25%;
  }

  &.pf-m-width-30 {
    min-width: 30%;
  }

  &.pf-m-width-35 {
    min-width: 35%;
  }

  &.pf-m-width-40 {
    min-width: 40%;
  }

  &.pf-m-width-45 {
    min-width: 45%;
  }

  &.pf-m-width-50 {
    min-width: 50%;
  }

  &.pf-m-width-60 {
    min-width: 60%;
  }

  &.pf-m-width-70 {
    min-width: 70%;
  }

  &.pf-m-width-80 {
    min-width: 80%;
  }

  &.pf-m-width-90 {
    min-width: 90%;
  }

  &.pf-m-width-100 {
    min-width: 100%;
  }
}
