<button class="{{pfv}}table__button{{#if table-button--modifier}} {{table-button--modifier}}{{/if}}"
  {{#if table-button--attribute}}
    {{{table-button--attribute}}}
  {{/if}}>
  {{#if @partial-block}}
    {{> @partial-block}}
  {{/if}}
</button>
