/* .ws-core-c-navigation:not([id*="tertiary"]):not([id*="light-mode"]) .pf-v5-c-nav {
  padding: 0;
  background-color: var(--pf-v5-global--BackgroundColor--dark-300);
} */

#ws-core-c-navigation-horizontal-in-masthead,
#ws-core-c-navigation-horizontal-in-masthead-overflow {
  grid-template-rows: auto;
}

#ws-core-c-navigation-horizontal-in-masthead .pf-v5-c-page__header,
#ws-core-c-navigation-horizontal-in-masthead-overflow .pf-v5-c-page__header {
  min-height: 0;
}

@media screen and (min-width: 1200px) {
  #ws-core-c-navigation-horizontal-in-masthead .pf-v5-c-page__header,
  #ws-core-c-navigation-horizontal-in-masthead-overflow .pf-v5-c-page__header {
    min-height: var(--pf-v5-c-page__header--MinHeight);
  }
}

#ws-core-c-navigation-horizontal-in-masthead .pf-v5-c-page__header-nav,
#ws-core-c-navigation-horizontal-in-masthead-overflow .pf-v5-c-page__header-nav {
  grid-row: 1;
}

#ws-core-c-navigation-nav-with-flyout .ws-preview-html,
[id^="ws-core-c-navigation-nav-with-drilldown-menu"] .ws-preview-html {
  width: 260px;
}

#ws-core-c-navigation-nav-with-flyout .ws-preview-html {
  position: relative;
}

#ws-core-c-navigation-nav-with-flyout .pf-v5-c-menu.pf-m-flyout.pf-m-nav {
  position: absolute;
  inset-block-start: 168px;
  inset-inline-start: 256px;
}

.ws-preview {
  /* background: var(--pf-t--global--background--color--400); */
  /* padding: 0; */
}

.pf-v5-c-jump-links,
#ws-sticky-nav-tabs,
.pf-v5-c-page__main-group > .pf-v5-c-page__main-section:first-child,
.pf-v5-c-page__main-section.pf-m-light.pf-m-limit-width.pf-m-light,
.ws-mdx-child-template > .pf-v5-c-jump-links {
  display: none !important;
}

.ws-mdx-content-content {
  max-width: none;
}
