<span class="{{pfv}}menu-toggle__control{{#if menu-toggle-control--modifier}} {{menu-toggle-control--modifier}}{{/if}}"
  {{#if menu-toggle-control--attribute}}
    {{{menu-toggle-control--attribute}}}
  {{/if}}>
  {{#if @partial-block}}
    {{> @partial-block}}
  {{/if}}
</span>
