<span class="{{pfv}}menu-toggle__main{{#if menu-toggle-main--modifier}} {{menu-toggle-main--modifier}}{{/if}}"
  {{#if menu-toggle-main--attribute}}
    {{{menu-toggle-main--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</span>
