// @debug $overflow-menu; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss

.#{$overflow-menu} {
  // Base spacer - shared value
  --#{$overflow-menu}--ColumnGap--base: var(--pf-t--global--spacer--sm);

  // Spacer values
  --#{$overflow-menu}--ColumnGap: var(--#{$overflow-menu}--ColumnGap--base);
  --#{$overflow-menu}__group--ColumnGap: var(--#{$overflow-menu}--ColumnGap--base);
  --#{$overflow-menu}--c-divider--m-vertical--spacer: var(--#{$overflow-menu}--ColumnGap--base);

  // Button group
  --#{$overflow-menu}__group--m-button-group--ColumnGap: var(--#{$overflow-menu}--ColumnGap--base);

  // Icon button group
  --#{$overflow-menu}__group--m-icon-button-group--ColumnGap: 0;

  display: inline-flex;
  column-gap: var(--#{$overflow-menu}--ColumnGap);
  align-items: center;
}

// Content
.#{$overflow-menu}__content {
  display: flex;
  align-items: center;
}

// Group
.#{$overflow-menu}__group {
  --#{$overflow-menu}--ColumnGap: var(--#{$overflow-menu}__group--ColumnGap);

  display: flex;

  // align-items: center;

  // Button group
  &.pf-m-button-group {
    --#{$overflow-menu}--ColumnGap: var(--#{$overflow-menu}__group--m-button-group--ColumnGap);
  }

  // Icon button group
  &.pf-m-icon-button-group {
    --#{$overflow-menu}--ColumnGap: var(--#{$overflow-menu}__group--m-icon-button-group--ColumnGap);
  }
}

// Item
.#{$overflow-menu}__item {
  // reset spacer
  --#{$overflow-menu}--ColumnGap: var(--#{$overflow-menu}__item--ColumnGap);
}

.#{$overflow-menu}__content,
.#{$overflow-menu}__control,
.#{$overflow-menu}__group,
.#{$overflow-menu}__item {
  column-gap: var(--#{$overflow-menu}--ColumnGap);
}

// Divider
.#{$overflow-menu},
.#{$overflow-menu}__group {
  // set this var here so specificity is 20
  > .#{$divider} {
    --#{$overflow-menu}--spacer: var(--#{$overflow-menu}--c-divider--m-vertical--spacer);
  }

  > .#{$divider}.pf-m-vertical {
    margin-inline-end: var(--#{$overflow-menu}--spacer);
  }
}
